@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.hero-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 7rem;
    background: #E4EBF5;
    background-size: cover;
}
.hero-first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    transition: ease all .5s;
}
.hero-heading{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
}
.hero-name{
    color: #fff;
    max-width: 70%;
    text-transform: lowercase;
    background: linear-gradient(to right, #8202fa, #ce03fc,#0ab0f2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textclip 3s linear infinite;
    background-size: auto auto;
    background-size: 200% auto;
}
@keyframes textclip {
    to {
      background-position: -200% center;
    }
  }
.hero-description{
    margin-top: 1rem;
    font-family: poppins;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.4;
    color: #525354;
}
.hero-image{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    height: 550px;
    width: 550px;
    
    &:hover {
        filter: drop-shadow(2px 2px 10px #42f5f2);
        scale: 1.05;
    }
}
.get-in-touch-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: black;
    height: 50px;
    width: 256px;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Josefin Sans;
    padding: 2rem;
    background: #E4EBF5;
    box-shadow:  10px 10px 15px #dad1e2,
             -5px -5px 15px #ffffff;

    &:active {
        box-shadow: inset 5px 5px 7px 0 #c8d0e7,
            inset -6px -6px 10px 0 white;
    }
}
.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;
    width: 100%;
    margin: 1rem 0;
    padding: 0 2rem;
}
.skill{
    color: black;
    font-family: Josefin Sans;
    padding: 1rem;
}
.skill-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.skill-icon{
    font-size: 82px;
    color: lighten($color: #525354, $amount: 10);
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: drop-shadow(1px 1px 2px #6b6f72);
        color: #4b4e51;
    }
}
.skill-name{
    margin-top: 0.2rem;
    font-family: poppins;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.7;
    color: #525354;
}
@media (width <= 1280px) {
    .hero-first-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-heading{
        flex-shrink: 0;
        flex-wrap: nowrap;
    }
    .hero-description{
        min-width: 40vw;
        font-size: 1.1rem;
    }
    .skills-container{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 8;
        margin-top: 8rem;
        flex-wrap: wrap;
        padding: 0 2rem;
    }
}
@media (width <= 768px) {
    .hero-first-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .hero-image{
        height: 500px;
        width: 500px;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-heading{
        min-width: 60vw;
        flex-shrink: 0;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    .hero-description{
        min-width: 40vw;
        font-size: 0.8rem;
    }
    .get-in-touch-button{
        width: 60vw;
    }
}