.contact-container {
    height: 100vh;
    background: url('/src/assets/layered-waves-haikei.svg');
    background-size: 120%;
    animation: moveWaves 5s linear infinite;
    position:absolute;
    width: 100%;
    transition: all 2s;
}
@keyframes moveWaves {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
.contact-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0rem;
    margin:1.5rem 0rem;
}
.lottie-box{
    height: 410px;
    width: 400px;
}
.lottie{
    filter: drop-shadow(3px 3px 4px black);
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0.6rem 1.5rem;
    height: 60vh;
    border-radius: 1.4rem;
    box-shadow: -3px -3px 25px 5px #fff, 5px 5px 13px 7px #c8d0e7;
}
.label-field{
    font-size: 1rem;
    font-family: Josefin Sans;
    margin-bottom: 0.6rem;
    padding-left: 0.4rem ;
}
.label-input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.6rem 0rem;
}
.input-field{
    height: 40px;
    border-radius: 0.8rem;
    background-color: transparent;
    box-shadow: inset 5px 5px 7px 0 #c8d0e7,
        inset -6px -6px 10px 0 white;
    border: 0;
    width: 90%;
    padding-left: 1rem;
    font-family: poppins;
    font-weight: 600;
}
.input-field::placeholder {
    font-family: poppins;
    padding-left: 1rem;
    font-weight: 500;
    color: #7d8083;
}
.input-field:focus {
    outline: none;
    padding-left: 1rem;
}
.textarea-field{
    height: 136px;
    border-radius: 0.8rem;
    background-color: transparent;
    box-shadow: inset 5px 5px 7px 0 #c8d0e7,
        inset -6px -6px 10px 0 white;
    border: 0;
    width: 90%;
    padding: 1rem;
    font-family: poppins;
    font-weight: 600;
    resize: none;
}
.textarea-field:focus{
    outline: none;
}
.textarea-field::placeholder{
    font-weight: 500;
    color: #7d8083;
}
a{
    text-decoration: none;
}
.send-button{
    height: 49px;
    width: 90%;
    margin: 1rem 0rem;
    background-color: #313233;
    border-radius: 0.6rem;
    color: #fff;
    font-family: Josefin Sans;
    font-size: 1.2rem;
    font-weight: 600;
    filter: drop-shadow(2px 2px 3px #313233);
    border: 0;
    cursor: pointer;
}
.birds{
    height: 104px;
}
.cloud1{
    position: relative;
    left: -6rem;
    height: 100px;
    width: 150px;
}
.cloud2{
    position: relative;
    right: 15rem;
    height: 100px;
    width: 650px;
}
.cloud3{
    position: relative;
    right: 10rem;
    height: 100px;
    width: 650px;
}
.lotties-wrapper{
    display: flex;
}