@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:static;
    padding: 2rem 8rem;
    background: #E4EBF5;
    background-size: cover;
    transition: ease all .5s;
}
.navbar-left-container{
    display: flex;
    align-items: center;
}
.navbar-links-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;     
}
.logo-name{
    text-decoration: none;
    color: #313233;
    cursor: pointer;
    font-weight: 600;
    font-family: poppins;
    font-size: 1.8rem;
}
.link {
    text-decoration: none;
    color: #313233;
    cursor: pointer;
    margin-right: 15px;
    font-weight: 600;
    font-family: poppins;
    font-size: 1.4rem;
    margin-left: 0.5rem;
}
@media (width <= 1280px) {
    .navbar-container{
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem 6rem;
    }
}
@media (width <= 768px) {
    .navbar-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar-left-container{
        margin-bottom: 10px;
    }
}