.features-container{
    // background: url('/src/assets/blob-haikei.svg');
    // background-size: cover;
    background: #dde4eb;
    width: 100%;
    padding: 6rem 0;
}
.features-heading{
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.1;
    max-width: 50%;
    text-align: center;
    padding: 4rem 0 1rem 0;
}
.features-heading-span{
    color: #fff;
    max-width: 70%;
    text-transform: lowercase;
    background: linear-gradient(to right, #8202fa, #ce03fc,#0ab0f2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textclip 4s linear infinite;
    background-size: auto auto;
    background-size: 200% auto;
}
.features-description{
    margin: 1rem 0;
    font-family: poppins;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.7;
    max-width: 70%;
    color: #525354;
    padding-bottom: 4rem;
}
.features-top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 1.1;
}
.features-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.features-bottom-section{
    display: flex;
    width: 60%;
    justify-content: center;
    padding: 0 400px;
}
.feature-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    border: 0px;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(145deg, #f4fbff, #cdd4dd);
    box-shadow:  6px 6px 12px #c2c8d0,
             -6px -6px 12px #ffffff;
}
.feature-card-heading{
    margin-top: 0.2rem;
    font-family: poppins;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.7;
    color: #060000;
    margin-bottom: 0.5rem;
}
.feature-card-description{
    font-family: poppins;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #525354;
}
.test{
    background-color: transparent;
    display: flex;
    align-items: center;
}
.feature-icon-container{
    background-color: #E4EBF5;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    position: relative;
    top: -130px;
    left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background: linear-gradient(145deg, #f4fbff, #cdd4dd);
    box-shadow:  6px 6px 12px #c2c8d0,
             -6px -6px 12px #ffffff;
}
.feature-icon{
    font-size: 24px;
}
@media (width <= 1280px) {
    .features-bottom-section{
        display: flex;
        justify-content: center;
        gap: 0.6rem;
        width: 80%;
    }
    .feature-card{
        width: 300px;
        height: 350px;
    }
    .feature-icon-container{
        top: -180px;
        left: 120px;
    }
}
@media (width <= 1024px) {
    .features-bottom-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 80%;
    }
    .feature-card{
        width: 650px;
        height: 245px;
    }
    .feature-icon-container{
        top: -130px;
        left: 120px;
    }
}
@media (width <= 768px) {
    .features-heading{
        font-size: 2.0rem;
        width: 70%;
    }
    .features-description{
        font-size: 0.9rem;
    }
    .features-bottom-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 80%;
    }
    .feature-card{
        width: 500px;
        height: 200px;
    }
    .feature-icon-container{
        top: -110px;
        left: 120px;
    }
    .feature-card-heading{
        font-size: 1.2rem;
    }
    .feature-card-description{
        font-size: 0.8rem;
        line-height: 1.4;
    }
}
@media (width <= 640px) {
    .features-bottom-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        width: 80%;
    }
    .feature-card{
        width: 400px;
        height: 180px;
    }
    .feature-icon-container{
        top: -100px;
        left: 120px;
    }
}